<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="links::header"></div>
    <div th:replace="script::js_footer"></div>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div  class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>添加成功 </legend>
          </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <!--<div class="container">-->
            <div class="card">
                <div class="card-content">


                    <div class="layui-form-item">
                        <div class="col s6">
                            <img id="myimg" th:src="${member.iconPath}" class="img-responsive img-thumbnail"/>
                        </div>
                        <div class="col s6">
                            <p>用户名：<span class="blue-text text-darken-2" th:text="${member.memberName}"></span></p>
                            <p>联系电话：<span class="blue-text text-darken-2" th:text="${member.phone}"></span></p>
                            <p>邮箱：<span class="blue-text text-darken-2" th:text="${member.email}"></span></p>
                            <p>性别：<span class="blue-text text-darken-2" th:text="${member.sex}"></span></p>
                            <p>会员生日：<span class="blue-text text-darken-2" th:text="${member.birthday}"></span></p>
                            <p>会员等级：<span class="blue-text text-darken-2" th:text="${member.memberGrade.gradeName}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" href="http://www.cnblogs.com/lger/">我的博客</a>
                    <a target="_blank" th:href="@{/}">首页</a>
                </div>
                <!--</div>-->
            </div>
            <!--页脚-->
            <br>
            <br>
            <br>
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>

<script>

    $.ajax({
        type: "get",
        url: '/getGrade',
        dataTyp: 'json',
        success: function (data) {
            var inputState = $('#inputState');
            inputState.html('');
            $.each(data, function (index, content) {
                inputState.html(inputState.html() + "<option id='" + content.id + "'>" + content.gradeName + "</option>");
            });
        }
    });
</script>
</body>

</html>