<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="links::header"></div>
    <div th:replace="script::js_footer"></div>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div  class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>余额充值 </legend>
          </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <!--<div class="container">-->
                <div class="card">
                    <div class="card-action">
                        充值成功后恕不退还
                    </div>
                    <div class="card-content">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <input placeholder="会员账号" id="memberId" type="text" class="layui-input" name="memberId" required/>
                                <label class="layui-form-label" style="width: 120px;" for="memberId">会员账号</label>
                            </div>
                            <div class="layui-inline">
                                <input id="money" name="money" type="tel" class="layui-input" placeholder="充值金额" required/>
                                <label class="layui-form-label" style="width: 120px;" for="money">充值金额</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="javascript:void(0)" onclick="balanceRecharge()">充值</a>
                    </div>
                <!--</div>-->
            </div>

            <!--页脚-->
            <br>
            <br>
            <br>
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>

<script>

    function balanceRecharge() {
        if (confirm('确认将资金充值到该账户余额？')) {
            var id = document.getElementById('memberId').value;
            var balance = document.getElementById('money').value;
            $.ajax({
                url: '/balanceRecharge',
                type: 'POST',
                data: {id: id, balance:balance},
                success: function (data) {
                    alert(data);
                }
            })
        }
    }

</script>
</body>

</html>