<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="links::header"></div>
    <div th:replace="script::js_footer"></div>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div  class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>项目出错 </legend>
          </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <div class="card">
                <div class="card-content">
                    <br>
                    <h2>项目未知错误，请找程序猿</h2>
                    <br>
                </div>
                <div class="card-action">
                    <a target="_blank" href="http://www.cnblogs.com/lger/">撒大声地我的博客</a>
                    <a target="_blank" href="javascript:window.history.back()">原路返回</a>
                </div>
            </div>
            <!--页脚-->
            <br>
            <br>
            <br>
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>


</body>

</html>