<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>商品页面</title>
    <div th:replace="links::header"></div>
    <div th:replace="script::js_footer"></div>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div  class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>添加商品 </legend>
          </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <!--<div class="container">-->
            <div class="card">
                <div class="card-content">
                    <form th:action="@{/modifyMarket}" method="post" id="modifyMarket" th:object="${entity}">
                        <input id="idx" name="id" type="hidden" class="layui-input" th:value="*{getId()}" required/>
                        <div class="layui-form-item">
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="name">商品名称</label>
                                <input id="name" name="name" type="text" class="layui-input" placeholder="商品名称"
                                       th:value="*{getName()}" required/>
                            </div>
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="link">商品图片地址</label>
                                <input id="link" name="link" type="text" class="layui-input"
                                       placeholder="商品图片地址" th:value="*{getLink()}" required/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="normalPrice">商品正价</label>
                                <input id="normalPrice" name="normalPrice" type="text" class="layui-input"
                                       th:value="*{getNormalPrice()}"
                                       placeholder="商品正价" required/>
                            </div>
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="discountPrice">商品折扣价</label>
                                <input placeholder="商品折扣价" id="discountPrice" type="text" class="layui-input"
                                       name="discountPrice" th:value="*{getDiscountPrice()}" required/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="title">详情标题</label>
                                <input placeholder="详情标题" id="title" type="text" class="layui-input" name="title"
                                       th:value="*{getTitle()}" required/>
                            </div>
                        </div>
                        <div class="layui-form-item" id="imgurllist">
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px"
                                 th:each="stat:*{getImgsUrl()}">
                                <label class="layui-form-label" style="width: 120px;" for="imgsUrl">商品图片1</label>
                                <input id="imgsUrl" name="imgsUrl" type="text" class="layui-input" th:value="${stat}"
                                       placeholder="商品图片1" required/>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <button onclick="addImageUrl()" class="waves-effect waves-light btn" type="button">添加图片
                            </button>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="value">商品规格</label>
                                <input id="value" name="value" type="text" class="layui-input"
                                       placeholder="商品规格" th:value="*{getValue()}" required/>
                            </div>
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">
                                <label class="layui-form-label" style="width: 120px;" for="num">商品数量</label>
                                <input id="num" name="num" type="text" class="layui-input" th:value="*{getNum()}"
                                       placeholder="详情图片集" required/>
                            </div>
                        </div>

                        <div class="layui-form-item" id="urllist">
                            <div class="layui-inline" style="width: 48%;float: left;padding-left: 20px"
                                 th:each="stat1:*{getUrl()}">
                                <label class="layui-form-label" style="width: 120px;" for="url">详情图片</label>
                                <input placeholder="详情图片" id="url" type="text" class="layui-input" name="url"
                                       th:value="${stat1}" required/>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <button onclick="addUrl()" class="waves-effect waves-light btn" type="button">添加详情图片
                            </button>
                        </div>
                        <div class="layui-form-item">
                            <button onclick="submitForm()" class="waves-effect waves-light btn" type="button">确认修改
                            </button>
                        </div>
                    </form>

                    <div class="clearBoth"></div>
                </div>
                <!--</div>-->
            </div>
            <!--页脚-->
            <br>
            <br>
            <br>
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>


<script>
    function submitForm() {
        $('#modifyMarket').submit();
    }

    function addImageUrl() {
        let htmlstr = '<div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">\n' +
            '            <label class="layui-form-label" style="width: 120px;" for="imgsUrl">商品图片</label>\n' +
            '            <input placeholder="商品图片" id="imgsUrl" type="text" class="layui-input" name="imgsUrl" />\n' +
            '            </div>'
        var htmllet = '<p>' + 'sdfasdf' + '</p>'
        $('#imgurllist').append(htmlstr);
    }

    function addUrl() {
        let htmlstr = '<div class="layui-inline" style="width: 48%;float: left;padding-left: 20px">\n' +
            '            <label class="layui-form-label" style="width: 120px;" for="url">详情图片</label>\n' +
            '            <input placeholder="详情图片" id="url" type="text" class="layui-input" name="url" />\n' +
            '            </div>'
        var htmllet = '<p>' + 'sdfasdf' + '</p>'
        $('#urllist').append(htmlstr);
    }
</script>
</body>

</html>