<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="links::header"></div>
    <div th:replace="script::js_footer"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            管理员信息维护
        </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <div class="card">
                <div class="card-content">

                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <input id="username" name="username" type="text" th:value="${session.admin.username}"
                                   class="validate valid" placeholder="用户名" required/>
                            <label class="layui-form-label" style="width: 120px;" for="username">用户名</label>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <input id="password" name="password" type="password" class="validate valid"
                                   placeholder="密码"/>
                            <label class="layui-form-label" style="width: 120px;" for="password">密码</label>
                        </div>
                    </div>

                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <input id="email" name="email" type="text" th:value="${session.admin.email}"
                                   class="validate valid" placeholder="邮箱" required/>
                            <label class="layui-form-label" style="width: 120px;" for="email">邮箱</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input id="phone" name="phone" type="text" th:value="${session.admin.phone}"
                                   class="validate valid" placeholder="电话" required/>
                            <label class="layui-form-label" style="width: 120px;" for="phone">电话</label>
                        </div>
                    </div>

                </div>
                <div class="card-action">
                    <a class="layui-btn layui-btn-normal" href="javascript:void(0)" onclick="modify()">修改</a>
                </div>
            </div>
            <!--页脚-->
            <br>
            <br>
            <br>
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>


<script>

    function modify() {
        var email = document.getElementById('email').value;
        var username = document.getElementById('username').value;
        var phone = document.getElementById('phone').value;
        var password = document.getElementById('password').value;
        if (confirm('确认修改？')) {
            $.ajax({
                url: '/modifyAdmin',
                type: 'POST',
                data: {email: email, password: password, username: username, phone: phone},
                success: function (data) {
                    alert(data);
                }

            })
        }
    }

</script>

</body>

</html>