<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" href="assets/layui/css/layui.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div  class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>商品购买 </legend>
          </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <!--<div class="container">-->
                <div class="card">
                    <div class="card-content">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <input placeholder="商品号码" id="commodityId" type="text" class="layui-input" name="commodityId" required/>
                                <label class="layui-form-label" style="width: 120px;" for="commodityId">商品号码</label>
                            </div>
                            <div class="layui-inline">
                                    <input id="memberId" onblur="confirmMemberId()" name="memberId" type="text" class="layui-input" placeholder="会员号码" required/>
                                <label class="layui-form-label" style="width: 120px;" for="memberId">会员号码</label>
                            </div>
                        </div>
                        <div class="switch">
                            <label>
                                现金支付
                                <input id="balancePay" type="checkbox" value="true">
                                <span class="lever"></span>
                                余额支付
                            </label>
                        </div>
                    </div>

                    <div class="card-action">
                        <a href="javascript:void(0)" onclick="purchaseCommodity()">购买商品</a>
                    </div>
                <!--</div>-->
            </div>

            <!--页脚-->
            <br>
            <br>
            <br>
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>

<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>

<script>
    
    function confirmMemberId() {
        var reg = /^\d+$/;
        var obj1= document.getElementById('memberId');
        if (!reg.test(obj1.value)){
            if (obj1.value === ''){
                return false;
            }
            obj1.setAttribute('class', 'validate invalid');
            alert('输入会员号码不符合要求');
            return false;
        }
        return true;
    }
    
    function purchaseCommodity() {
        if (confirmMemberId())
        if (confirm('确认购买该商品吗？')) {
            var obj1= document.getElementById('memberId').value;
            var obj2 = document.getElementById('commodityId').value;
            var obj3 = document.getElementById("balancePay").checked;
            $.ajax({
                url: '/purchaseCommodity',
                type: 'POST',
                data: {memberId: obj1, commodityId:obj2, balance:obj3},
                success: function (data) {
                    alert(data);
                }
            })
        }
    }

</script>
</body>

</html>