<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" href="assets/layui/css/layui.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div> <!--侧边栏-->
    <div th:replace="sidebar :: html"></div> <!--内容主体-->
    <div class="layui-body"> <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>会员查询</legend>
        </fieldset>

            <div>
                <div>
                    <div>
                        <div id="dataTables-example_wrapper" class="layui-form">
                            <div class="layui-form-item">
                                <div class="col-sm-6">
                                    <div id="dataTables-example_filter" class="dataTables_filter"><label>搜索会员名: <input
                                            onkeydown="if(event.keyCode===13) updateData(1);" id="search" type="search"
                                            class="form-control input-sm" aria-controls="dataTables-example"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="layui-table">
                                <thead>
                                <tr>
                                    <th>会员账号</th>
                                    <th>会员名</th>
                                    <th>会员电话</th>
                                    <th>会员生日</th>
                                    <th>会员积分</th>
                                    <th>会员余额</th>
                                    <th>会员等级</th>
                                    <th>会员状态
                                    <th>性别</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tr th:each="member,userStat : ${memberlist}">
                                    <td th:text="${member.getId()}"></td>
                                    <td th:text="${member.getMemberName()}"></td>
                                    <td th:text="${member.getPhone()}"></td>
                                    <td th:text="${member.getBirthday()}"></td>
                                    <td th:text="${member.getMemberIntegral()}"></td>
                                    <td th:text="${member.getBalance()}"></td>
                                    <td th:text="${member.getMemberGrade().getGradeName()}"></td>
                                    <td th:text="${member.getState()}"></td>
                                    <td th:text="${member.getSex()}"></td>
                                    <td><a href="customer-details.html"
                                           th:href="@{/getMember(id=${member.getId()})}">编辑</a> <a
                                            href="customer-details.html" th:href="@{/getMember(id=${member.getId()})}">审批</a>
                                    </td>
                                </tr>
                            </table>
                            <div aria-label="Page navigation example">
                                <ul class="pagination" id="page">
                                    <li class="page-item"><a class="page-link"
                                                             th:text="'当前第'+${pageNum+1}+'页总共'+${totalPages+1}+'页'"></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:text="'--'"></a></li>
                                    <li class="page-item"><a class="page-link"
                                                             th:href="@{/queryMember?pageNum=0}">首页</a></li>
                                    <li class="page-item" th:switch="${pageNum}"><a th:case="0" class="page-link"
                                                                                    th:href="@{/queryMember?pageNum=0}">上一页</a>
                                        <a th:case="*" class="page-link"
                                           th:href="@{/queryMember(pageNum=${pageNum-1})}">上一页</a></li>
                                    <li class="page-item" th:switch="${pageNum}"><a th:case="${totalPages-1}"
                                                                                    class="page-link"
                                                                                    th:href="@{/queryMember(pageNum=${totalPages-1})}">下一页</a>
                                        <a th:case="*" class="page-link"
                                           th:href="@{/queryMember(pageNum=${pageNum+1})}">下一页</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             th:href="@{queryMember(pageNum=${totalPages-1})}">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--页脚-->
            <div th:replace="footer :: html"></div>

    </div>
</div>
</body>
</html>