<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="links::header"></div>
    <div th:replace="script::js_footer"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="title :: html"></div>
    <!--侧边栏-->
    <div th:replace="sidebar :: html"></div>
    <!--内容主体-->
    <div  class="layui-body" id="page-wrapper">
        <!--内容主题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>活动列表 </legend>
          </fieldset>
        <div id="page-inner">
            <!--自定义内容-->
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">

                            <table class="layui-table"
                                   id="dataTables-example" aria-describedby="dataTables-example_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="Rendering engine: activate to sort column ascending"
                                        aria-sort="ascending">编号
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="Browser: activate to sort column ascending"
                                    >活动名称
                                    </th>

                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                    >发布者
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                    >发布时间
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                    >操作
                                    </th>
                                </tr>
                                </thead>
                                <tr th:each="entity,userStat : ${entitylist}">
                                    <td th:text="${entity.getId()}"></td>
                                    <td th:text="${entity.getName()}"></td>
                                    <td th:text="${entity.getUserName() }"></td>
                                    <td th:text="${entity.getUserDate()}"></td>
<!--                                    <td th:text="${entity.getInfo()}"></td>-->
<!--                                    <td th:text="${entity.getUrl()}"></td>-->
                                    <td><a  class="layui-btn layui-btn-primary layui-btn-xs" th:href="@{/addActivity(id=${entity.getId()})}">编辑</a>
                                        <button  class="layui-btn layui-btn-danger layui-btn-xs" th:onclick="deleteActivity([[${entity.getId()}]])">删除</button>
                                    </td>
                                </tr>
                            </table>
                            <div aria-label="Page navigation example">
                                <ul class="pagination" id="page">
                                    <li class="page-item"><a class="page-link" th:text="'当前第'+${pageNum+1}+'页总共'+${totalPages+1}+'页'"></a></li>
                                    <li class="page-item"><a class="page-link" th:text="'--'"></a></li>
                                    <li class="page-item"><a class="page-link" th:href="@{/queryActivity?pageNum=0}">首页</a></li>
                                    <li class="page-item" th:switch="${pageNum}">
                                            <a th:case="0" class="page-link" th:href="@{/queryActivity?pageNum=0}">上一页</a>
                                            <a th:case="*" class="page-link" th:href="@{/queryActivity(pageNum=${pageNum-1})}">上一页</a>
                                    </li>
                                    <li class="page-item"  th:switch="${pageNum}">
                                         <a  th:case="${totalPages-1}"  class="page-link"  th:href="@{/queryActivity(pageNum=${totalPages-1})}">下一页</a>
                                         <a th:case="*" class="page-link"  th:href="@{/queryActivity(pageNum=${pageNum+1})}">下一页</a>
                                    </li>
                                    <li class="page-item"><a class="page-link"  th:href="@{queryActivity(pageNum=${totalPages-1})}">尾页</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--页脚-->
            <div th:replace="footer :: html"></div>
        </div>

    </div>
</div>
<script>

    function deleteActivity(id) {
        if (confirm('确认删除此条记录？删除以后不可恢复！')) {
            $.ajax({
                url: '/deleteActivity',
                type: 'POST',
                data: {id: id},
                success: function (data) {
                    alert(data);
                    if (data === 'success'){
                        window.location.href ="/queryActivity";
                    }
                }

            })
        }
    }


</script>
</body>

</html>