<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="js_footer">
    <script src="assets/layui/layui.js"></script>
    <script src="assets/js/jquery-1.10.2.js"></script> <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</div>
<script>
    var basePath='http://www.baidu.com';
</script>
</html>