<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div class="layui-side layui-bg-black" th:fragment="sidebar1">
    <div class="layui-side-scroll"> <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item"><a class="" href="javascript:;">会员管理</a>
                <dl class="layui-nav-child">
            <li><a th:href="@{/queryMember}">查询会员</a></li>
            <li><a th:href="@{/memberGrade}">会员类别</a></li>
            <li><a th:href="@{/modifyMemberState}">会员状态修改</a></li>
            <li><a th:href="@{/integralExchange}">积分兑换</a></li>
            <li><a th:href="@{/balanceRecharge}">余额充值</a></li>
            <li><a th:href="@{/deleteMember}">会员注销</a></li>
            </dl> </li>
            <li class="layui-nav-item"><a href="javascript:;">礼品消费</a>
                <dl class="layui-nav-child">
            <li><a th:href="@{/setGift}">礼品设置</a></li>
            <li><a th:href="@{/modifyGiftNumber}">数量修改</a></li>
            <li><a th:href="@{/exchangeRecord}">兑换记录</a></li>
            </dl> </li>
            <li class="layui-nav-item">
                <a href="javascript:;">商品消费</a>
                <dl class="layui-nav-child">
            <li><a th:href="@{/addMarket}">添加商品</a></li>
            <li><a th:href="@{/queryMarket}">商品查询</a></li>
            <li><a th:href="@{/purchaseCommodity}">商品购买</a></li>
            <li><a th:href="@{/transactionRecord}">积分记录</a></li>
            </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">活动管理</a>
                <dl class="layui-nav-child">
            <li><a th:href="@{/addActivity}">活动添加</a></li>
            <li><a th:href="@{/queryActivity}">活动查询</a></li>
            </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">订单管理</a>
                <dl class="layui-nav-child">
            <li><a th:href="@{/goodsOrders}">商品订单</a></li>
            <li><a th:href="@{/activityOrders}">活动订单</a></li>
            <li><a th:href="@{/exchangeRecord}">礼品订单</a></li>
            <li><a th:href="@{/balanceRecharge}">会费订单</a></li>
            </dl>
            </li>
            <div sec:authorize="hasAnyAuthority('S_ADMIN')">
            <li class="layui-nav-item"  ><a href="javascript:;">系统管理</a>
                <dl class="layui-nav-child">
            <li><a th:href="@{/addAdmin}">添加管理员</a></li>
            <li><a th:href="@{/queryAdmin}">管理员列表</a></li>
            </dl>
            </li>
            </div>
        </ul>
    </div>
</div>

<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</html>